{% extends 'layout.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('batimentAddEdit') }}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="./../../script.js"></script>
    <script src="./../../babylon.custom(1).js"></script>
{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('batimentAddEdit') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row title">
            <h3 class="display-8">Ajout d'un bâtiment</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-row">
                    <div class="col-xs-6 commun">
                        {{form_start(form)}}
                        {{form_row(form.Nom)}}
                        {{form_row(form.Description)}}
                        {{form_row(form.Adresse)}}
                        {{form_row(form.Nb_etage)}}
                        <div class="form-check">
                        {{form_widget(form.Acces_handicape)}}
                        {{form_label(form.Acces_handicape)}}
                        </div>
                        {{form_row(form.TypeBatiment,{'id':'TypeBatiment'})}}
                    </div>
                    <div class="col">
                        <div class='Modele' id='Representation_3D' hidden>
                            {{form_row(form.Representation3D,{'id':'Representation3D'})}}
                        </div>

                        <div class='FP' id='Forme_Parametrique' hidden>
                            {{form_row(form.FormeParametrique,{'id':'FormeParametrique'})}}
                        </div>

                        <div class='position Modele' hidden>
                            {{form_row(form.Longitude,{'id':'Longitude'})}}
                        </div>

                        <div class='position Modele' hidden>
                            {{form_row(form.Latitude,{'id':'Latitude'})}}
                        </div>

                        <div class='Modele' hidden>
                            {{form_row(form.Echelle,{'id':'Echelle'})}}
                        </div>

                        <div class='position FP Modele' hidden>
                            {{form_row(form.Angle,{'id':'Angle'})}}
                        </div>

                        <div class='Cube Pavé' hidden>
                            {{form_row(form.Longueur,{'id':'Longueur'})}}
                        </div>

                        <div class='Pavé' hidden>
                            {{form_row(form.Largeur,{'id':'Largeur'})}}
                        </div>

                        <div class='Cylindre Pavé' hidden>
                            {{form_row(form.Hauteur,{'id':'Hauteur'})}}
                        </div>

                        <div class='Cylindre' hidden>
                            {{form_row(form.Rayon,{'id':'Rayon'})}}
                        </div>

                        <div class='position FP Modele Cube Cylindre Pavé' hidden>
                            {{form_row(form.Etat,{'id':'Etat'})}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <canvas id="renderCanvas" class="img-responsive" style="display:none"></canvas>
            </div>
        </div>
        <div class="row">
            {{form_row(form._token) }}
            <div class="col-md-8">
                <div class="btns">
                    <a class="btn btn-secondary" href="{{path('batiments')}}">Annuler</a>
                    <button class="btn btn-success" type="submit">Ajouter</button>
                    {# {{form_end(form)}} #}
                </div>
            </div>
        </div>
    </div>

{% endblock %}