{% extends 'layout.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('batimentIndex') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('batimentIndex') }}
    <script>
        function batimentsSearch() {
            var input,
                filter,
                table,
                tr,
                td,
                i,
                txtValue;
            input = document.getElementById("batimentsInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("batimentsTable");
            console.log(table);
            tr = table.getElementsByClassName("searchHide");
            var color = 0;
            console.log(tr)
            for (i = 0; i < tr.length; i ++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        if(color%2==0){
                            tr[i].style.backgroundColor = "rgba(0, 0, 0, 0.05)";
                            tr[i].onmouseover = (e) => {
                                e.target.parentNode.style.backgroundColor = "rgba(0, 0, 250, 0.08)";
                            };
                             tr[i].onmouseout = (e) => {
                                e.target.parentNode.style.backgroundColor = "rgba(0, 0, 0, 0.05)";
                            };
                        }
                        else{
                            tr[i].style.backgroundColor = "rgba(0, 0, 0, 0)";
                            tr[i].onmouseover = (e) => {
                                e.target.parentNode.style.backgroundColor = "rgba(0, 0, 250, 0.08)";
                            };
                             tr[i].onmouseout = (e) => {
                                e.target.parentNode.style.backgroundColor = "rgba(0, 0, 0, 0)";
                            };
                        }
                        color++
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function toggleCollapse(key) {
            desktop = document.getElementsByClassName("Bureaux");
            console.log(desktop);
            /*for (i = 0; i < desktop.length; i += 2) {
                if (i == key * 2) {
                    if (desktop[i].hidden == true) {
                        desktop[i].hidden = false;
                        desktop[i+1].hidden = false;
                    } else {
                        desktop[i].hidden = true;
                        desktop[i+1].hidden = true;
                    }
                } 
                else {
                    desktop[i].hidden = true;
                    desktop[i+1].hidden =true;
                }
            }*/

            for (i = 0; i < desktop.length; i ++) {
                if (i == key) {
                    if (desktop[i].hidden == true) {
                        desktop[i].hidden = false;
                    } else {
                        desktop[i].hidden = true;
                    }
                } 
                else {
                    desktop[i].hidden = true;
                }
            }

        }

        window.addEventListener('DOMContentLoaded', function () {
            ref = document.getElementById("batimentsTable");
            count = ref.getElementsByClassName("key");
            console.log(count.length);
            var show = Array(count.length).fill(false);
            console.log(show);
            desktop = document.getElementsByClassName("Bureaux");
            for (i = 0; i < desktop.length; i ++) {
                desktop[i].hidden = true;
            }
        })
    </script>
{% endblock %}
{% block body %}
    {% if app.user %}
        <div class="batiments">
            <div class="row">
                <nav class="navbar navbar-dark bg-dark justify-content-between rounded">
                    {% if app.user.role =="Admin" %}
                        <a class="btn btn-outline-light add" href="{{path('batiment_add')}}">Ajouter</a>
                    {% endif %}
                    <div class="mr-sm-2"></div>
                    <input class="my-2 my-sm-0 rounded" id="batimentsInput" onkeyup="batimentsSearch()" placeholder=" Rechercher un bâtiment" type="text">
                </nav>
            </div>
            <div class="row">
                <table class="table rounded" id="batimentsTable">
                    <thead class="thead-dark">
                        <tr class="searchHide">
                            <th scope="col">Nom</th>
                            <th scope="col">Nbr d'étages</th>
                            <th scope="col">Type</th>
                            <th scope="col">Etat</th>
                            <th scope="col">Accès handicapé</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="batBody">
                        {% for key, batiment in batiments %}
                            <tr class="searchHide">
                                <td class="clickabletd" onclick="toggleCollapse({{key}})">{{batiment.Nom}}</td>
                                <td class="clickabletd" onclick="toggleCollapse({{key}})">{{batiment.Nbetage}}</td>
                                <td class="clickabletd" onclick="toggleCollapse({{key}})">{{batiment.TypeBatiment}}</td>
                                {% if batiment.etat %}
                                    <td class="clickabletd" onclick="toggleCollapse({{key}})">Publié</td>
                                {% else %}
                                    <td class="clickabletd" onclick="toggleCollapse({{key}})">Non Publié</td>
                                {% endif %}
                                {% if batiment.acceshandicape %}
                                    <td class="clickabletd" onclick="toggleCollapse({{key}})">Oui</td>
                                {% else %}
                                    <td class="clickabletd" onclick="toggleCollapse({{key}})">Non</td>
                                {% endif %}
                                <td>
                                    <div class="btn-group action">
                                        <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">Action</button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item btn rounded" href="{{path('batiment_add_bureau',{'id':batiment.id})}}">Ajouter un bureau</a>
                                            {% if app.user.role =="Admin" %}
                                                <a class="dropdown-item btn rounded" href="{{path('batiment_edit',{'id':batiment.id})}}">Modifier</a>
                                                <a class="dropdown-item btn rounded" onclick="return confirm('Êtes vous sûr de vouloir supprimer cet élèment?')" href="{{path('batiment_delete',{'id':batiment.id})}}">Supprimer</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="Bureaux" hidden>
                                <td colspan="5">
                                    <table class="table table-stripped rounded">
                                        {% if batiment.Bureaux|length==0 %}
                                            <tr>
                                                <td>Pas encore de bureau créé pour ce bâtiment</td>
                                                <td>
                                                    <div class="btn-group action">
                                                        <button class="btn btn-secondary rounded" aria-expanded="false" aria-haspopup="true" type="button">
                                                            <a class="btn rounded" href="{{path('batiment_add_bureau',{'id':batiment.id})}}">Ajouter un bureau</a>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <thead class="burHead">
                                                <th scope="col">Bureaux</th class="bureaux-index">
                                                <th scope="col">Nom</td>
                                                <th scope="col">Adresse</td>
                                                <th scope="col">Etage</td>
                                                <th scope="col">Action</td>    
                                            </thead>
                                            {% for bureau in batiment.Bureaux %}
                                                <tbody class="table-info burBody">
                                                    <tr>
                                                        <td></td>
                                                        <td>{{bureau.entreprise.Nom}}</td>
                                                        <td>{{bureau.Adresse}}</td>
                                                        <td>{{bureau.etage}}</td>
                                                        <td>
                                                            <div class="btn-group action">
                                                                <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">Action</button>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    {% if app.user.role =="Admin" %}
                                                                        <a class="dropdown-item btn rounded" href="{{path('batiment_edit_bureau',{'id_bat':batiment.id,'id_bur':bureau.id})}}">Modifer</a>
                                                                        <a class="dropdown-item btn rounded" onclick="return confirm('Êtes vous sûr de vouloir supprimer cet élèment?')" href="{{path('batiment_delete_bureau',{'id_bur':bureau.id})}}">Supprimer</a>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            {% endfor %}
                                        {% endif %}
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% else %}
    {% endif %}
{% endblock %}
