{% block title %}<title>PYM 3D</title>{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('resetpassword') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('resetpassword') }}
{% endblock %}

{% block body %}
   {% if not app.user %}
    <div class="container">
            <div class="row">              
                <div class="col-lg-3 col-md-2"></div>
                    <div class="col-lg-6 col-md-8">
                        <div class="card">
                        <div class="card-header">
                            <h5>Récupération du mot de passe</h5>
                        </div>
                        <div class="card-body">
                            <p>Saisissez l'adresse e-mail associée à votre compte. Un e-mail vous sera envoyé avec le nouveau mot de passe. </p>
                            <div class="reset-form">
                            {{ form_start(form) }}
                            {{ form_widget(form)}}
                            </div>
                            {% if error %}
                                Email non existant
                            {% endif %}
                            <div class="btns row">
                                <div class="col-1"></div>
                                <a href="{{ path('auth_deconnexion')}}" class="btn btn-secondary go-back col-3">Annuler</a>
                                <div class="col-4"></div>
                                <button type="submit" class="btn btn-success send-reset col-3">Envoyer</button>
                                <div class="col-1"></div>
                            </div>
                            {{form_end(form) }}
                        </div>
                    </div>
            </div>  
    {% else %}
            <div class="container">
            <div class="row">              
                <div class="col-lg-3 col-md-2"></div>
                    <div class="col-lg-6 col-md-8">
                        <div class="card">
                        <div class="card-header">
                            <h5>Récupération du mot de passe</h5>
                        </div>
                        <div class="card-body">
                            <h5>Impossible de récupérer le mot de passe si vous êtes connecté.</h5>
                        </div>
                    </div>
            </div> 
    {% endif %}
{% endblock %}