{% extends 'layout.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('entrepriseNew') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('entrepriseNew') }}
{% endblock %}
{% block body %}
    {% if app.user %}              
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8">
                <div class="card">
                    <div class="card-header bg-dark ">
                        <h4>Ajouter une entreprise</h4> 
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                {{ form_start(form) }}
                                {{ form_widget(form)}}
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="btns row">
                            <div class="col-1"></div>
                            <a href="{{ path('entreprises')}}" class="btn btn-secondary btn-back col-3">Annuler</a>
                            <div class="col-4"></div>
                            <button type="submit" class="btn btn-success btn-add col-3">Ajouter</button>
                            <div class="col-1"></div>
                        </div>
                        {{form_end(form) }}
                    </div>
                </div>
            </div>
                
    {% else %}   
        <h1>Vous n'avez pas accés à cette page.</h1>
    {% endif %}

{% endblock %}
